.container_default_page {
  padding-left: 250px;
  height: 100vh;
  width: 100vw;
}

.bagy {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  color: #e55c8b;
  font-weight: 700;
}

.container_default_page img {
  width: 20%;
}
