.container_header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  z-index: -1;
  height: 80px;
}

.header_bar {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #252733;
  font-size: 12px;
}
