* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-margin-left: 250px;
  font-family: 'Inter', sans-serif;
}

.container_main {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
}